#image1{
    height:80%;
    width:5%;

}
#image2{
    height:80%;
    width:5%;
    padding-left:15%;
}
#image4{
    
    height:80%;
    width:5%;
    padding-left:15%;

}
#image5{
    height:80%;
    width:5%;
    padding-left:25%;
}
#image6{
    position:relative;
    left:15%;
    height:80%;
    width:6%;
padding-right:0%;
    

}
